$font__ext-setup-map: (
  "eot": ("eot": null, "eot#iefix": "embedded-opentype"),
  "ttf": ("ttf": "truetype"),
  "woff": ("woff": "woff"),
  "svg": ("svg": "svg")
) !default;

@function font__build-src($path, $ext, $format) {
  $url: "#{ $path }.#{ $ext }";

  @if not $format {
    @return url($url);
  }

  @return url($url) format($format);
}

@mixin font__add($font-family, $path, $ext-list, $ext-postfix, $font-style, $font-weight) {
  $src: null;

  @each $ext in $ext-list {
    $ext-setup: map-get($font__ext-setup-map, $ext);

    @each $key, $value in $ext-setup {
      @if $key == "svg" {
        $key: "#{ $key }#" + __str-replace($font-family, " ", "_");
      }

      @if not __str-empty($ext-postfix) {
        $key: __str-replace($key, $ext, "#{ $ext }?#{ $ext-postfix }");
      }

      $src: append($src, font__build-src($path, $key, $value), comma);
    }
  }

  @font-face {
    font-family: $font-family;
    src: $src;
    font-style: $font-style;
    font-weight: $font-weight;
  }
}

// @include font__add("icomoon", "../font/icomoon", eot ttf woff svg, "3ubpmi", normal, normal);

// @font-face {
//   font-family: "icomoon";
//   src: url("../font/icomoon.eot"),
//        url("../font/icomoon.eot#iefix") format("embedded-opentype"),
//        url("../font/icomoon.ttf") format("truetype"),
//        url("../font/icomoon.woff") format("woff"),
//        url("../font/icomoon.svg#icomoon") format("svg");
//   font-style: normal;
//   font-weight: normal;
// }

@include font__add("Lato", "../font/Lato/Lato-Lig", ttf, null, normal, $font-weight-light);
@include font__add("Lato", "../font/Lato/Lato-LigIta", ttf, null, italic, $font-weight-light);

@include font__add("Lato", "../font/Lato/Lato-Reg", ttf, null, normal, $font-weight-normal);
@include font__add("Lato", "../font/Lato/Lato-RegIta", ttf, null, italic, $font-weight-normal);

@include font__add("Lato", "../font/Lato/Lato-Bol", ttf, null, normal, $font-weight-bold);
@include font__add("Lato", "../font/Lato/Lato-BolIta", ttf, null, italic, $font-weight-bold);