.carousel {
  position: relative;
  width: 100%;
  height: 100%;

  &-point-group {
    position: absolute;
    bottom: 16.25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0.22rem;
    background-color: rgba($color-white, 0.35);
    border-radius: 50%;
    cursor: pointer;

    &.is-active {
      background-color: $color-white;
    }
  }

  &-item-group {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &-item {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;

    // Если сразу указать left: 0 - тогда переход к краю будет плавным,
    // а так как left изначально не указан, тогда transition
    // начнет работать когда появится первое его значение
    // transition: left 0.6s ease-in-out;
    @include transition("left", 0.6s);

    &.is-next,
    &.is-prev,
    &.is-active {
      display: block;
    }

    &.is-next.is-left,
    &.is-prev.is-right,
    &.is-active {
      left: 0;
    }

    &.is-prev,
    &.is-active.is-left {
      left: -100%;
    }

    &.is-next,
    &.is-active.is-right {
      left: 100%;
    }
  }
}