.footer {
  background-color: $color-whitesmoke;
  border-top: 1px solid $color-gainsboro;

  &__inner {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    line-height: 2;

    @include __media-breakpoint-up("sm") {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text {
    color: $color-gray;
    font-weight: $font-weight-light;
    letter-spacing: 0;

    &--lead {
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      letter-spacing: 2.6px;
    }
  }

  &__link {
    @extend .link--inverted;
    color: $color-darkraven;
  }
}
