.nav {
  display: flex;
  flex-direction: column;

  @include __media-breakpoint-up("sm") {
    flex-direction: row;
  }

  &__link {
    @extend .link--inverted;
    @extend .text--inverted;
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    @include __media-breakpoint-up("sm") {
      margin-bottom: 0;
    }

    + .nav__link {
      @include __media-breakpoint-up("sm") {
        margin-left: 1.76rem;
      }
    }
  }
}
