@mixin sect-cuisine__set-background-image() {
  @for $index from 1 through 10 {
    &:nth-child(#{ $index }) {
      background-image: url("../img/cuisine_#{ $index }.png");
    }
  }
}

.sect.-type-cuisine {
  .sect-inner {
    @include grid__breakpoint-up("xl") {
      padding-top: 6.1rem;
    }
  }

  .sect-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sect-text {
    @extend .text;
    margin: 0;

    &.-weight-bold {
      font-weight: $font-weight-bold;
    }

    &.-style-italic {
      font-family: $font-family-base;
      font-style: italic;
    }

    &.-size-lg {
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 2.25rem;

      @include grid__breakpoint-up("sm") {
        font-size: 1rem;
      }

      @include grid__breakpoint-up("md") {
        font-size: 1.25rem;
      }

      @include grid__breakpoint-up("lg") {
        font-size: 1.75rem;
      }

      @include grid__breakpoint-up("xl") {
        font-size: 2.25rem;
      }
    }
  }

  .sect-item-group {
    display: flex;
    flex-flow: column wrap;

    @include grid__breakpoint-up("sm") {
      flex-direction: row;
    }

    &:first-of-type {
      padding-top: 1.75rem;

      .sect-item {
        height: 405px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include sect-cuisine__set-background-image();

        @include grid__breakpoint-up("sm") {
          flex-basis: 25%;
          width: 25%;
          height: 135px;
        }

        @include grid__breakpoint-up("md") {
          flex-basis: 20%;
          width: 20%;
          height: 108px;
        }

        @include grid__breakpoint-up("lg") {
          height: 140px;
        }

        @include grid__breakpoint-up("xl") {
          height: 225px;
        }
      }

      .sect-text-group {
        margin-bottom: 1.1rem;
      }

      .sect-text {
        @extend .text.-type-invert;
        line-height: 1.2;
      }
    }

    &:last-of-type {
      margin-left: 3.45rem;
      margin-right: 3.45rem;
      margin-bottom: 2.25rem;
      padding-top: 2.25rem;

      @include grid__breakpoint-up("sm") {
        margin-bottom: 0;
        padding-top: 0;
      }

      .sect-item {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include grid__breakpoint-up("sm") {
          flex-basis: 33.333%;
        }

        @include grid__breakpoint-up("md") {
          flex-basis: 20%;
          padding-top: 2.85rem;
          padding-bottom: 3.5rem;
        }
      }

      .sect-text {
        line-height: 1.45;
      }
    }
  }
}
