$sect--third__color-main: rgba($color-white, 0.35);

.sect--third {
  display: none;
  position: relative;
  width: 100%;
  height: 462px;
  color: $sect--third__color-main;
  font-weight: $font-weight-light;
  background-color: $color-matterhorn;
  letter-spacing: 0;

  @include __media-breakpoint-up("sm") {
    display: block;
  }

  @include __media-breakpoint-up("lg") {
    overflow: hidden; // HACK: изображение в ::after вылазит за пределы экрана
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/housewife.png");
    background-size: cover;
    background-position: center;

    @include __media-breakpoint-up("md") {
      display: initial;
    }

    @include __media-breakpoint-up("lg") {
      left: 110px;
    }
  }

  .sect__customer {
    display: inline-block;
    position: relative;
    width: 104px;
    height: 104px;
    margin-top: 7.15%;
    margin-left: 0.25rem;
    margin-bottom: 1.15rem;
    background-image: url("../img/customer.png");

    // @include __media-breakpoint-up("sm") {
      
    // }

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      width: 112px;
      height: 112px;
      border: 6px solid $sect--third__color-main;
      border-radius: 50%;

      // @include __media-breakpoint-up("sm") {
      //   display: initial;
      // }
    }
  }

  .sect__comment {
    @include __media-breakpoint-up("sm") {
      margin-bottom: 1.5%;
      font-size: 1.85rem;
      line-height: 1.5;
    }
  }

  .sect__caption {
    @include __media-breakpoint-up("sm") {
      font-size: 1.1rem;
      font-style: italic;
    }
  }
}
