.sect.-type-app {
  background-color: $color-whitesmoke;

  .sect-inner {
    @include grid__breakpoint-up("md") {
      display: flex;
      justify-content: space-between;
    }
  }

  .sect-item:first-child {
    display: none;

    @include grid__breakpoint-up("md") {
      display: block;
      flex-basis: 45%;
    }
  }

  .sect-iphone {
    // display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/mobile_app.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    // @include grid__breakpoint-up("md") {
    //   display: block;
    // }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: repeat-x;
      background-image: url("../img/mobile_app_gradient.png");
    }
  }

  .sect-item:last-child {
    @include grid__breakpoint-up("md") {
      flex-basis: 45.815%;
      text-align: left;
    }

    @include grid__breakpoint-up("lg") {
      padding-top: 6.8%;
      padding-bottom: 20.3%;
    }
  }

  .sect-hr {
    @include grid__breakpoint-up("md") {
      margin-left: 0;
    }
  }

  .sect-text {
    @include grid__breakpoint-up("md") {
      margin-bottom: 4.7%;
    }
  }

  .sect-img-wrap {
    display: inline-block;
    margin-bottom: 2.75rem;

    + .sect-img-wrap {
      @include grid__breakpoint-up("md") {
        margin-left: 0.5rem;
      }
    }
  }
}
