.sect--second {
  background-color: $color-whitesmoke;

  .sect__inner {
    @include __media-breakpoint-up("md") {
      display: flex;
      justify-content: space-between;
    }
  }

  .sect__item:first-child {
    @include __media-breakpoint-up("md") {
      flex-basis: 45%;
    }
  }

  .sect__mobile-app {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/mobile_app.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    @include __media-breakpoint-up("md") {
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: repeat-x;
      background-image: url("../img/mobile_app_gradient.png");
    }
  }

  .sect__item:last-child {
    @include __media-breakpoint-up("md") {
      flex-basis: 45.815%;
      text-align: left;
    }

    @include __media-breakpoint-up("lg") {
      padding-top: 6.8%;
      padding-bottom: 20.3%;
    }
  }

  .sect__hr {
    margin-left: auto;
    margin-right: auto;

    @include __media-breakpoint-up("md") {
      margin-left: 0;
    }
  }

  .sect__text {
    @include __media-breakpoint-up("md") {
      margin-bottom: 4.7%;
    }
  }

  .sect__img {
    margin-bottom: 2.75rem;

    + .sect__img {
      @include __media-breakpoint-up("md") {
        margin-left: 0.5rem;
      }
    }
  }
}
