.sect {
  text-align: center;
  @extend .text;

  &-inner {
    padding-top: 8.5%;
  }

  &-title {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
  }

  &-hr {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
  }

  &-text {
    margin-bottom: 1.6rem;
    font-size: 1rem;
    font-weight: $font-weight-light;
    line-height: 1.65;
  }
}