.sect.-type-offer {
  .sect-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include grid__breakpoint-up("md") {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 4.2rem;
    }
  }

  .sect-item {
    flex-basis: 30.525%;
  }

  .sect-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.1rem;
    border: 2px solid $color-darkraven;
    border-radius: 50%;
  }
}
