@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Lig.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-LigIta.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Reg.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-RegIta.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Bol.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-BolIta.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@-webkit-keyframes ping-pong {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ping-pong {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
}

.grid {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}

.grid.-type-gutter {
  padding-left: 15px;
  padding-right: 15px;
}

.text, .header, .sect, .sect.-type-cuisine .sect-text {
  letter-spacing: 0.75px;
}

.text.-type-invert, .header, .nav-link, .hero-link, .-type-invert.sect, .sect.-type-cuisine .-type-invert.sect-text, .sect.-type-cuisine .sect-item-group:first-of-type .sect-text {
  color: #fff;
  text-shadow: 0.5px 1px 40px rgba(0, 0, 0, 0.5);
}

.link:hover, .hero-link:hover {
  text-decoration: none;
}

.link.-type-invert, .nav-link, .-type-invert.hero-link, .footer-link {
  text-decoration: none;
}

.link.-type-invert:hover, .nav-link:hover, .-type-invert.hero-link:hover, .footer-link:hover {
  text-decoration: underline;
}

.icon {
  color: #fff;
}

.icon.-type-menu {
  font-size: 1.5rem;
}

.icon.-type-menu::before {
  content: "≡";
}

.btn, .hero-btn {
  display: inline-block;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.hr {
  display: block;
  width: 90px;
  margin: 0;
  border: 0;
  border-top: 1px solid #f57365;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-point-group {
  position: absolute;
  bottom: 16.25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.carousel-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0.22rem;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
}

.carousel-point.is-active {
  background-color: #fff;
}

.carousel-item-group {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel-item {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-transition: left 0.6s ease-in-out;
  -o-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
}

.carousel-item.is-next, .carousel-item.is-prev, .carousel-item.is-active {
  display: block;
}

.carousel-item.is-next.is-left, .carousel-item.is-prev.is-right, .carousel-item.is-active {
  left: 0;
}

.carousel-item.is-prev, .carousel-item.is-active.is-left {
  left: -100%;
}

.carousel-item.is-next, .carousel-item.is-active.is-right {
  left: 100%;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #493949;
  background-image: url("../img/fudi.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
}

@media (min-width: 576px) {
  .header {
    min-height: 768px;
    max-height: 992px;
  }
}

.header::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 880px;
  background-repeat: repeat-x;
  background-image: url("../img/fudi_gradient.png");
}

@media (min-width: 576px) {
  .header::after {
    display: initial;
  }
}

.header-inner {
  position: relative;
  height: 100%;
  z-index: 1;
}

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.25rem;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
}

.header-nav {
  display: none;
  position: absolute;
  top: 100%;
  text-align: right;
}

@media (min-width: 768px) {
  .header-nav {
    display: block !important;
    position: static;
  }
}

.header-phone {
  margin-left: 2.5rem;
}

.header-btn {
  margin: 0 0 0 1rem;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-hero {
  padding-top: 22.5%;
}

.header-arrow {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  -webkit-animation: ping-pong 2s infinite;
          animation: ping-pong 2s infinite;
}

.nav-link {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav-link {
    display: initial;
  }
}

@media (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1.76rem;
  }
}

.hero-promo {
  margin-bottom: 0.4rem;
  font-family: "Times New Roman", sans-serif;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 700;
}

@media (min-width: 576px) {
  .hero-promo {
    margin-left: 1.5rem;
  }
}

.hero-text {
  text-transform: uppercase;
}

.hero-text.-type-lead {
  margin-bottom: 1.9rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
}

@media (min-width: 576px) {
  .hero-text.-type-lead {
    font-size: 6.25rem;
  }
}

.hero-btn {
  margin-bottom: 2.45rem;
  padding: 1.2rem 4.7rem 1.6rem 4.85rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  border-color: #fff;
  border-width: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.hero-btn:hover {
  color: #f57365;
  background-color: #fff;
  text-decoration: underline;
  text-shadow: 0.5px 1px 40px rgba(0, 0, 0, 0.5);
}

.hero-btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 115, 101, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(245, 115, 101, 0.5);
}

.hero-link {
  font-weight: 700;
}

.sect {
  text-align: center;
}

.sect-inner {
  padding-top: 8.5%;
}

.sect-title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
}

.sect-hr {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
}

.sect-text {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
}

.sect.-type-offer .sect-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .sect.-type-offer .sect-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 4.2rem;
  }
}

.sect.-type-offer .sect-item {
  -webkit-flex-basis: 30.525%;
      -ms-flex-preferred-size: 30.525%;
          flex-basis: 30.525%;
}

.sect.-type-offer .sect-img-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 108px;
  height: 108px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.1rem;
  border: 2px solid #221f1f;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.sect.-type-app {
  background-color: #f7f7f7;
}

@media (min-width: 768px) {
  .sect.-type-app .sect-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.sect.-type-app .sect-item:first-child {
  display: none;
}

@media (min-width: 768px) {
  .sect.-type-app .sect-item:first-child {
    display: block;
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
  }
}

.sect.-type-app .sect-iphone {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/mobile_app.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.sect.-type-app .sect-iphone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: repeat-x;
  background-image: url("../img/mobile_app_gradient.png");
}

@media (min-width: 768px) {
  .sect.-type-app .sect-item:last-child {
    -webkit-flex-basis: 45.815%;
        -ms-flex-preferred-size: 45.815%;
            flex-basis: 45.815%;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .sect.-type-app .sect-item:last-child {
    padding-top: 6.8%;
    padding-bottom: 20.3%;
  }
}

@media (min-width: 768px) {
  .sect.-type-app .sect-hr {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sect.-type-app .sect-text {
    margin-bottom: 4.7%;
  }
}

.sect.-type-app .sect-img-wrap {
  display: inline-block;
  margin-bottom: 2.75rem;
}

@media (min-width: 768px) {
  .sect.-type-app .sect-img-wrap + .sect-img-wrap {
    margin-left: 0.5rem;
  }
}

.sect.-type-review {
  display: none;
  position: relative;
  width: 100%;
  height: 461px;
  color: rgba(255, 255, 255, 0.35);
  font-weight: 300;
  background-color: #493949;
  letter-spacing: 0;
}

@media (min-width: 576px) {
  .sect.-type-review {
    display: block;
  }
}

@media (min-width: 992px) {
  .sect.-type-review {
    overflow: hidden;
  }
}

.sect.-type-review::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/housewife.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .sect.-type-review::after {
    display: initial;
  }
}

@media (min-width: 992px) {
  .sect.-type-review::after {
    left: 110px;
  }
}

.sect.-type-review .sect-customer {
  display: inline-block;
  position: relative;
  width: 104px;
  height: 104px;
  margin-top: 7.15%;
  margin-left: 0.25rem;
  margin-bottom: 1.1rem;
  background-image: url("../img/customer.png");
}

.sect.-type-review .sect-customer::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 112px;
  height: 112px;
  border: 6px solid rgba(255, 255, 255, 0.35);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (min-width: 576px) {
  .sect.-type-review .sect-comment {
    margin-bottom: 1.5%;
    font-size: 1.85rem;
    line-height: 1.5;
  }
}

@media (min-width: 576px) {
  .sect.-type-review .sect-caption {
    font-size: 1.1rem;
    font-style: italic;
  }
}

@media (min-width: 1200px) {
  .sect.-type-cuisine .sect-inner {
    padding-top: 6.1rem;
  }
}

.sect.-type-cuisine .sect-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect.-type-cuisine .sect-text {
  margin: 0;
}

.sect.-type-cuisine .sect-text.-weight-bold {
  font-weight: 700;
}

.sect.-type-cuisine .sect-text.-style-italic {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
}

.sect.-type-cuisine .sect-text.-size-lg {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 2.25rem;
}

@media (min-width: 576px) {
  .sect.-type-cuisine .sect-text.-size-lg {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .sect.-type-cuisine .sect-text.-size-lg {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .sect.-type-cuisine .sect-text.-size-lg {
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .sect.-type-cuisine .sect-text.-size-lg {
    font-size: 2.25rem;
  }
}

.sect.-type-cuisine .sect-item-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

@media (min-width: 576px) {
  .sect.-type-cuisine .sect-item-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sect.-type-cuisine .sect-item-group:first-of-type {
  padding-top: 1.75rem;
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item {
  height: 405px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(1) {
  background-image: url("../img/cuisine_1.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(2) {
  background-image: url("../img/cuisine_2.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(3) {
  background-image: url("../img/cuisine_3.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(4) {
  background-image: url("../img/cuisine_4.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(5) {
  background-image: url("../img/cuisine_5.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(6) {
  background-image: url("../img/cuisine_6.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(7) {
  background-image: url("../img/cuisine_7.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(8) {
  background-image: url("../img/cuisine_8.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(9) {
  background-image: url("../img/cuisine_9.png");
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-item:nth-child(10) {
  background-image: url("../img/cuisine_10.png");
}

@media (min-width: 576px) {
  .sect.-type-cuisine .sect-item-group:first-of-type .sect-item {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    width: 25%;
    height: 135px;
  }
}

@media (min-width: 768px) {
  .sect.-type-cuisine .sect-item-group:first-of-type .sect-item {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    width: 20%;
    height: 108px;
  }
}

@media (min-width: 992px) {
  .sect.-type-cuisine .sect-item-group:first-of-type .sect-item {
    height: 140px;
  }
}

@media (min-width: 1200px) {
  .sect.-type-cuisine .sect-item-group:first-of-type .sect-item {
    height: 225px;
  }
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-text-group {
  margin-bottom: 1.1rem;
}

.sect.-type-cuisine .sect-item-group:first-of-type .sect-text {
  line-height: 1.2;
}

.sect.-type-cuisine .sect-item-group:last-of-type {
  margin-left: 3.45rem;
  margin-right: 3.45rem;
  margin-bottom: 2.25rem;
  padding-top: 2.25rem;
}

@media (min-width: 576px) {
  .sect.-type-cuisine .sect-item-group:last-of-type {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.sect.-type-cuisine .sect-item-group:last-of-type .sect-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 576px) {
  .sect.-type-cuisine .sect-item-group:last-of-type .sect-item {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
  }
}

@media (min-width: 768px) {
  .sect.-type-cuisine .sect-item-group:last-of-type .sect-item {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    padding-top: 2.85rem;
    padding-bottom: 3.5rem;
  }
}

.sect.-type-cuisine .sect-item-group:last-of-type .sect-text {
  line-height: 1.45;
}

.footer {
  background-color: #f7f7f7;
  border-top: 1px solid #e1e1e1;
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  line-height: 2;
}

@media (min-width: 576px) {
  .footer-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-text {
  color: #8b8b8b;
  font-weight: 300;
  letter-spacing: 0;
}

.footer-text.-type-lead {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

.footer-link {
  color: #221f1f;
}
